html, body {
    width: 100;
}
body{
    background-color: rgb(65, 66, 76);
    font-family: 'Rubik', sans-serif;    
}
p{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    color: white;
    margin:10px;
    /* flex-direction: column; */
    font-size: 15px;
}
h1{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(54, 55, 69);
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    padding-left: 30px;
}
.information{
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 89, 102);
    width: 400px;
    height: 225px
}
.images{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    flex-direction: column;
    height:400px
}
.images img {
    height: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 30px;
    padding-right: 30px; */
    justify-content: center;
    /* padding-top: -100px; */
}
.card{
    padding-right: 30px;
    /* padding-left: 10px; */
    margin-left: 10px;
    /* justify-items: ; */
    padding-top: 100px;
}
/* img {
    width: 10px;
} */
/* .logo{
    width: 100px;
    display: flex;
    justify-content: flex-end;
} */
