<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Wanted people from Interpol</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">           
      </html>
    <body>
        <div class="title_bar">
            <a href="/home"> The Interpol Net</a>
        </div>
        <div class="navbar">
            <a href="/about"> About </a>
        </div>
<div class="meaning_paragraph">
    <h2>What is interpol?</h2>
    <p>Interpol stands for the International Criminal Police Organization. It is an international law enforcement organization that facilitates cooperation and coordination among police forces from different countries. Interpol's primary goal is to promote and enhance global police cooperation to prevent and combat crime on an international scale.
    </p>
    <h2>What is the Red Notice?</h2>
    <p>An Interpol Red Notice is a global alert issued by Interpol to seek the location and arrest of individuals who are wanted by a member country for prosecution or to serve a sentence. It is the highest level of notice issued by Interpol and is used to facilitate international law enforcement cooperation.
    </p>
    <h2>What is a Wanted list?</h2>
    <p>>A wanted list, also known as a most-wanted list or a fugitive list, is a compilation of individuals who are sought by law enforcement agencies for various reasons. These individuals are typically considered to be fugitives from justice, either because they have been charged with a crime and are evading arrest or because they have violated the terms of their parole or probation.</p>


</div>