<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Wanted people from Interpol</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">           
      </html>
    <body>
        <div class="title_bar">
            <a href="/home"> The Interpol Net</a>
        </div>
        <div class="navbar">
            <a href="/about"> About </a>
        </div>
        <div class="background_link">
            <P>Wanted List</P>

            <button class="button2" type="button" onclick="window.location.href='/'"> → </button>                </p>
            <div class="parallax-container">
                <div class="parallax-section">
                <!-- Content for the first parallax section -->
                </div>
                <div class="parallax-section">
                <!-- Content for the second parallax section -->
                </div>
            </div>
        </div>
        <div class="meaning_paragraph">
            <h2>What is interpol?</h2>
            <p>Interpol stands for the International Criminal Police Organization. It is an international law enforcement organization that facilitates cooperation and coordination among police forces from different countries. Interpol's primary goal is to promote and enhance global police cooperation to prevent and combat crime on an international scale.

            </p>
            <a href="/missing_ppl"> mis</a>
        </div>