<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Wanted people from Interpol</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">           
      </html>
    <body>
        <h1>Wanted people from Interpol</h1>
       
        <!-- <img class="logo" src = https://o.remove.bg/downloads/3052282a-7626-4b8b-879b-d683052d3534/image-removebg-preview.png> -->

        <div class="container">
            {% for missin in missing %}
                <div class="card">
                    <!-- <div class="images">
                        <img src= {{criminal['id']}} >
                    </div> -->
                    <div class="information">    
                        <p>{{missin['name']}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>    
    </body>

